/* !Este contenedor almacenara todo lo que sera el admin */
.conter-admin {
  z-index: 50;
  position: absolute;
  background-color: #f5f5f5;
  width: 100%;
  display: flex;
}
.hijos-conted {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  padding: 5px;
  height: 200vh;
}
.box-cont-admin {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}
.box-admin {
  width: 100%;
  background-color: #fff;
  border-radius: 9px;
  padding: 5px;
  margin-top: 20px;
}
/* ?APPBAR el menu del administrador sera muy diferente, este estara de flotando a la izquierda */
.conter-appBar {
  background-color: #232952;
  color: #fff;
  display: block;
  float: left;
  height: 100%;
  padding: 5px 0px 5px 5px;
}
.close-appbar {
  padding: 5px;
  display: flex;
  justify-content: right;
  height: 4vh;
}
.close-appbar svg {
  height: 100%;
  cursor: pointer;
}
.close-appbar svg:hover {
  color: #e5e4e39c;
}
.logo-admin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 20px 0px 20px;
  font-weight: 500;
  font-size: 4em;
}
.logo-admin a {
  text-decoration: none;
  color: #fff;
}
.box-appbar {
  margin-left: 10px;
}
.box-appbar a {
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  color: #fff;
  text-decoration: none;
  padding: 5px;
}
.box-appbar a label,
i {
  margin-left: 20px;
  transition: 0.3s;
  cursor: pointer;
  font-weight: 700;
}
.text-appBar:hover {
  font-size: 21px;
  cursor: pointer;
  background-color: #f5f5f5;
  color: #232952;
  border-radius: 9px 0px 0px 9px;
}
/* *************************************************** 
         TODO: El dashboar ira en este apartado
* ***************************************************/
.title-admin {
  text-align: left;
  font-weight: 700;
  margin-top: 20px;
}
.chart {
  margin: 20px;
}

